<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generate stunning image content with our AI-powered app.">
    <meta name="keywords" content="AI, Image Generation, Content Creation, App">
    <title>AI Image Generator App</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>fondly.ai image generation app</h1>
        <p>Create stunning image content with the power of AI.</p>
        <a href="/prompt" class="link"><h2>Start Creating Now</h2></a>
        
    </header>
    <section>
        <h3>Why Choose Fondly.ai?</h3>
        <p>Fondly.AI is free and will remain so until I decide it's not free.</p>
        <div class="job">
            <h4>Easy to Use</h4>
            <p>With a simple and intuitive interface, anyone can start creating.</p>
        </div>
        <div class="job">
            <h4>Fast and Efficient</h4>
            <p>fondly.ai does the work for you, generating images in seconds.</p>
        </div>
    </section>
    <section>
        <h3>See It In Action</h3>
        <p>Check out some of the amazing content users have created with our app.</p>
        <a href="/scroller" class="link">Scroll user generated Images</a>
        
        <!-- Insert image gallery here -->
    </section>
    <section>
        <h3>Ready to Get Started?</h3>
        <p>Download our app today and start creating stunning image content.</p>
        <a href="/prompt" class="link">Use Fondly.ai Now</a>
    </section>
    <footer>
        <p>&copy; 2023 Blake Link. All rights reserved.</p>
    </footer>
</body>
</html>
