body {
    background-color: #272822;
    color: #F8F8F2;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    border-bottom: 1px solid #66D9EF;
}

header h1 {
    color: #E6DB74;
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    color: #E6DB74;
    font-size: 16px;
    margin-bottom: 5px;
}

header h2 {
    color: #FD971F;
    font-size: 18px;
}

section {
    padding: 20px;
}

section h3 {
    color: #AE81FF;
    font-size: 20px;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}

.job h4 {
    color: #66D9EF;
    font-size: 18px;
    margin-bottom: 5px;
}

.dates {
    color: #A6E22E;
    font-size: 16px;
    margin-bottom: 10px;
}

.content {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: #E6DB74;
    text-decoration: none;
    
  }
  
  a:visited {
    color: #FD971F;
  }
  
  a:hover {
    color: #F92672;
  }
  
  .red {
    color: #F92672;
  }

  a:active {
    color: #AE81FF;
  }

  .tip {
    color: #FD971F;
}
  
.qr-code {
    width: 256px;
    height: 256px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

.purple {
    color: #AE81FF;
}

.link {
    text-decoration: underline;
}

/* Media query for mobile devices */
@media (max-width: 700px) {
    .content {
        margin: 0 0 !important;
        max-width: 100vw;
        padding: 0;
    }
    header, section {
        padding: 10px;
    }

    header h1 {
        font-size: 18px;
    }

    header p {
        font-size: 12px;
    }

    header h2 {
        font-size: 16px;
    }

    section h3 {
        font-size: 18px;
    }

    .job h4 {
        font-size: 16px;
    }

    .dates {
        font-size: 14px;
    }

}
